<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <partial name="_UserProfile" />
        <partial name="_NavMenu" />
    </div>
    <!-- End Sidebar scroll-->
</aside>