<li class="nav-small-cap">Admin Dashboard</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Add/Remove Student</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a asp-action="AddStudent" asp-controller="Students">Add Student</a></li>
        <li><a href="app-chat.html">Remove Student</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Add/Remove Parent</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Add Parent</a></li>
        <li><a href="app-chat.html">Remove Parent</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Add/Remove User</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Add User</a></li>
        <li><a href="app-chat.html">Remove User</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Add Credit</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">To Student</a></li>
        <li><a href="app-chat.html">To Parent</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Edit Student Info</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Add Student</a></li>
        <li><a href="app-chat.html">Remove Student</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Edit Parent Info</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Add Student</a></li>
        <li><a href="app-chat.html">Remove Student</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Edit User Info</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Add Student</a></li>
        <li><a href="app-chat.html">Remove Student</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Withdraw Credit of User</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Add Student</a></li>
        <li><a href="app-chat.html">Remove Student</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">View Transactions</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Add Student</a></li>
        <li><a href="app-chat.html">Remove Student</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Suspend Student</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Add Student</a></li>
        <li><a href="app-chat.html">Remove Student</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Suspend Parent</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Add Student</a></li>
        <li><a href="app-chat.html">Remove Student</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Suspend User</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Add Student</a></li>
        <li><a href="app-chat.html">Remove Student</a></li>
    </ul>
</li>
<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Send/Receive Notification</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Add Student</a></li>
        <li><a href="app-chat.html">Remove Student</a></li>
    </ul>
</li>